////
/// Subhead block.
///
/// @group  Blocks
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////

.wp-block-subhead {
	font-size:  1.125em;
	font-style: italic;
	opacity:    0.75;
}
