////
/// App main component.
///
/// Wraps the page's main output. This is generally the post list or a single
/// post and its comments.
///
/// @group  Components
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////
.app-main:first-child{
	top: 99px;
	position:relative;
	z-index: 900;
	background-color: #ffffff;
}
.app-main {
	grid-area: content;
	margin: 0 auto 15rem;
	padding: 16rem 0 15rem;
	width: 95%;

	max-width: 1170px;
	box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
	
}


 @media only screen and (max-width: 400px) {
    .app-main{
	  box-shadow:none;
	  width:100%;
	  
	 }
	 .app-main:first-child{
	   position:static;
	   
	 }
	 
	 
 
 
 }