////
/// App main component.
///
/// Wraps the page's main output. This is generally the post list or a single
/// post and its comments.
///
/// @group  Components
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////

.app-main {
grid-area: content;

top: -99px;

margin: 0 auto 10rem;

padding: 16rem 0 15rem;

width: 95%;

max-width: 1170px;

z-index: 900;
}