////
/// App footer component.
///
/// @group  Components
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////
#menu__wpg-footer {grid-area:menu-footer;}
.app-footer {
	&__container {
		display:flex;
		 flex-direction: column;
		 text-align:center;
		 font-size:1.4rem;
		 font-weight:400;
	}
	&__credit {}
	
	&__wp-custom-logo {
	
		height: 60px;
		margin-bottom:1em;

		
	}
	
}
