////
/// App component.
///
/// This is the wrapper for the entire page layout.
///
/// @group  Components
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////

app-header {grid-area: header};
	.app-main {grid-area:content;}
	.app-footer { grid-area: footer; }
.app {
	display: grid;

		 
		grid-template-rows:auto ;
		grid-template-columns:100%;
        grid-template-areas: 
		"header"
		"content"
		"footer";
}
