////
/// App header component.
///
/// @group  Components
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////

.wp-custom-header {grid-area:logo;}
#menu__wpg-main {grid-area:menu;}

.app-header {
	
	background-color:#c62641;
	left:0;
	top:0;
	position:fixed;
	height:250px;
	width:100%;
	display:grid;
	grid-template-rows: repeat(10,40px);
	grid-template-columns: repeat(18, 90px);

	// Wrapper around the title and description.
	&__branding {}

	// Output from the `custom-logo` feature.
	&__logo {}

	// Logo link.
	&__logo-link {}

	// The site title.
	&__title {
		text-transform:uppercase;
	}

	// Site title link.
	&__title-link {}

	// The site description.
	&__description {}
	
	
}
/* header menu */
.fa-bars, #toggle{
  visibility:hidden;
}
#menu__wpg-main {
	grid-column-start: 7; 
	grid-column-end: 16; 
	grid-row:2;
}

#menu__wpg-main  ul {


	list-style-type: none; 
	list-style-image: none; 
	
	
}

#menu__wpg-main li{
	display: inline-block;
	vertical-align:middle;
 }

#menu__wpg-main li a{
	color:#ffffff;
	text-decoration:none;
	font-size: 1.1rem;
	line-height:1;
	font-family:'Josefin Sans';
	font-weight:600;
	padding:16px 14px 13px;
	text-transform: uppercase;
}

.wp-custom-header {
  grid-column: 3 / 5;
  grid-row:2;

 }
 
 @media only screen and (max-width: 1300px) {
	.app-header{
		grid-template-rows: repeat(10,40px);
		grid-template-columns: repeat(32, 25px);
	}
	#menu__wpg-main {
	 grid-column-start: 17;
	 grid-column-end: 30;

	 }
	 
	 
 }
 
@media only screen and (max-width: 950px) {
	.wp-custom-header img{
	   width:300px;
	   height:auto;
	 }
	 #menu__wpg-main {
		grid-column-start: 15;
		grid-column-end: 30;
	 }
	
}
@media only screen and (max-width: 850px) {
	.app-header{
		grid-template-rows: repeat(10,40px);
	  grid-template-columns: repeat(15, 35px);
	}
	
	  .wp-custom-header img{
	   width:250px;
	   height:auto;
	  }
	.wp-custom-header {
	    
		grid-column: 2/3;
		
	}
	#menu__wpg-main {
		grid-column-start: 9;

	 }
	 
	 
	
}
@media only screen and (max-width: 650px) {
	
	.app-header{
	
	  grid-template-columns: repeat(30, 50px);
	  height:125px;
	
	}

	.wp-custom-header {
	    
		grid-column: 2/3;
	
	}
	#menu__wpg-main{
	   visibility:hidden ;
	   
	 }
	#toggle{
	
		grid-column:8;
		grid-row:2/3;
		visibility:visible;
	}
	.fa-bars{
		color:white;
		font-size:1.5rem; 
		line-height: 1.5;
		visibility:visible;
		padding: 13px 14px;

	}
     .fa-bars:hover{
		cursor:pointer;
		background:rgba(255,255,255,.1);
		
	}
	.fa-times{
	    cursor:pointer;
		color:#ffffff;
	}
}
 
 @media only screen and (max-width: 500px) {
	
    .app-header{
	
	  grid-template-columns: repeat(10, 32px);
	  height:150px;
	
	}
	.wp-custom-header {
	    
		grid-column: 2/3;
	
	}
	.wp-custom-header img{
	   width:200px;
	   height:auto;
	  }
	 #toggle{
		grid-column:9;
	}
 
	 
} 


