////
/// App main component.
///
/// Wraps the page's main output. This is generally the post list or a single
/// post and its comments.
///
/// @group  Components
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////
.app-main:first-child{
	top: 140px;
	position:relative;
	z-index: 900;
	background-color: #ffffff;
	
}
.app-main {
	grid-area: content;
	margin: 0 auto 10rem;
	padding: 10rem 0 9rem;
	width: 95%;

	max-width: 1170px;
	box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
	&__scrollclass
	{
	   position:static !important;
	
	}
}


 @media only screen and (max-width: 1350px) {
 
	.app-main{
	  	  width:93%;
		margin:0 auto 10rem;
		padding: 10rem 0 2rem;

	}
}

 @media only screen and (max-width: 850px) {
 
	.app-main{
	  	  width:90%;
			padding: 10rem 0 10rem;
	
	 
	 }
	
 
 }
 @media only screen and (max-width: 680px) {
 
	.app-main{
	   box-shadow:none;
	  width:100%;
	   padding: 0rem 10%;
	  
	 }
	 
 
 }

 @media only screen and (max-width: 500px) {
    .app-main{
	
	  width:100%;
		 padding: 0 ;
		margin-bottom:0;
	 }
	 
	 
 
 
 }