////
/// Entry component.
///
/// @group  Components
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////

.entry {
	
	// Type of entry/post.
	&--type-post {}

	&--type-page {}

	// Sticky posts.
	&.sticky {}
    
	// Featured image.
	&__image {}

	// Header wrapper.
	&__header {padding-top:5em;}

	// Entry title.
	&__title { }
	
	&__centered {text-align:center;}
	
	&__block-centered{ 
	   width: 80%;
	   margin: 0 auto;
	 }

	&__wrapper {
	
		background-color:#ffffff;
		padding-bottom:5em;
	    width:95%;
		box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);

		max-width: 1170px;

		margin: 0 auto 10rem;

		margin-bottom: 10rem;



		padding: 16rem 0 15rem;
	
	}
	
	// Full entry content.
	&__content {
		
		margin: 0 auto 12rem;
	
		max-width:720px;
	}

	// Summary/Excerpt.
	&__summary {}

	// Meta wrappers.
	&__byline {}

	&__footer {}

	// Individual metadata items.
	&__author {}

	&__published {}

	&__comments {}

	&__terms {}
}
