////
/// Entry component.
///
/// @group  Components
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////

.entry {

	// Type of entry/post.
	&--type-post {}
			
	&--type-page, &__wrapper {
		max-width: 720px;

		margin: 0 auto 12rem;
	
	}
    
	// Sticky posts.
	&.sticky {}

	// Featured image.
	&__image {}

	// Header wrapper.
	&__header {}

	// Entry title.

	&__title {
		font-size:6.4rem;
		word-wrap: breakword;
		color:#333333;
	}
	// Entry centered 
	&__centered{
	    text-align: center;
	}

	
	
	
	// Entry block centered 
	
	&__block-centered{
	   margin: 0 auto;
	   width:60%;
	 }
	// Full entry content.
	&__content {}
	
	// body of entry
	&__body{
		margin-top:8em;
	}

	// Summary/Excerpt.
	&__summary {}

	// Meta wrappers.
	&__byline {}

	&__footer {}

	// Individual metadata items.
	&__author {}

	&__published {}

	&__comments {}

	&__terms {}
}

@media only screen and (max-width: 1350px) {
	.entry {
		&__title {
			font-size:4.8rem;
		}
		
		&--type-page, &__wrapper {
			padding: 0 auto 12rem;
			
		}
	}

}
@media only screen and (max-width: 850px) {

	.entry {
		&--type-page, &__wrapper {
			padding: 0 14% 11rem;
			margin-bottom:0;
					
		}
		
	}
	


}
@media only screen and (max-width: 500px) {
	.entry {
		&--type-page, &__wrapper {
			padding: 2.8rem 8% 1rem;
			margin-bottom:0;
			max-width: 1170px;
			
		}
	}

}