////
/// Nav menu component.
///
/// @group  Components
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////

.menu {

	// Specific nav menus.
	&--primary {}

	// Menu title.
	&__title {}

	// Menu items list.
	&__items {}

	// Individual items.
	&__item {}

	// Item link.
	&__link {}
	

}
#menu__wpg-main {
   padding-top:1em;
	grid-column-start: 6; 
  grid-column-end: 8; 
  grid-row-start:4; 
  grid-row-end: auto; 

}
#menu__wpg-main  ul {
	
	margin: 0; padding: 0; 
	list-style-type: none; 
	list-style-image: none; 
	margin-top:3vh;
	
}

#menu__wpg-main li{
 display: inline;
 padding:3px 10px;
 border:1px solid #ffffff;
}

#menu__wpg-main li a{
	color:#ffffff;
	text-decoration:none;
}

/*  footer */


#menu__wpg-footer  ul {
	
	margin: 0; padding: 0; 
	list-style-type: none; 
	list-style-image: none; 

	
}

#menu__wpg-footer  li{
 display: inline;
 padding:0 3px;

}

#menu__wpg-footer li a{
	color:#000000;

}
#menu__wpg-footer li::after {
  content:' |';

 }
#menu__wpg-footer li:last-child::after{
  content:'';
 }