////
/// Default elements.
///
/// @group  Elements
/// @author WordPress Gwinnett contributors <hello@wpgwinnett.com>
/// @link   https://wpgwinnett.com
////

// Body styles. Note that we're hiding horizontal overflow so that wide images
// don't overflow.
body {
	overflow-x: hidden;
	font-family:'Domine';
	background-color:#f8f8f8;
	
}
